.newStyle{
    background-color: rgb(233, 44, 11);
    color: rgb(155, 102, 33);
    font-family: 'Times New Roman', Times, serif;
    padding: 15px;
    text-align: center;
    font-size: xx-large;
}